
@{
	ViewData["Title"] = "Categories";
}

<div class="container text-white my-5">
    <h2 class="mb-4 text-center">Explore Our Literary Realms</h2>
    <div class="d-flex flex-wrap justify-content-center gap-3">

        <a href="/Home/Shop?category=Gothic" class="btn btn-outline-light">Gothic Fiction</a>
        <a href="/Home/Shop?category=Mystery" class="btn btn-outline-light">Mystery & Detective</a>
        <a href="/Home/Shop?category=Fantasy" class="btn btn-outline-light">Fantasy & Magical</a>
        <a href="/Home/Shop?category=SciFi" class="btn btn-outline-light">Sci-Fi & Dystopian</a>
        <a href="/Home/Shop?category=Romance" class="btn btn-outline-light">Romance & Realism</a>
        <a href="/Home/Shop?category=Poetry" class="btn btn-outline-light">Poetry & Literary</a>
        <a href="/Home/Shop?category=Paranormal" class="btn btn-outline-light">Paranormal & Suspense</a>
        <a href="/Home/Shop?category=Historical" class="btn btn-outline-light">Historical Fiction</a>
        <a href="/Home/Shop?category=Steampunk" class="btn btn-outline-light">Steampunk Adventures</a>

    </div>
</div>